src/main/mule/loadHomePage.xml
<?xml version="1.0" encoding="UTF-8"?> 
    
<mule xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd">
	<flow name="loadHomePageFlow" doc:id="4d0c4bba-b935-4fd2-8ca8-8bf48a920d27" >
		<http:listener doc:name="Listener" doc:id="98cec33a-6948-4502-a79a-50b1aa238f10" config-ref="exp-vcores-mgmt-api-httpListenerConfig" path="/"/>
		<http:basic-security-filter doc:name="Basic security filter" doc:id="b831c0d2-f85f-4b57-989a-6e91d72081a8" realm="mule" />
		<choice doc:name="Choice" doc:id="ed5f5a62-5ec3-4f17-8eca-a8c893bf3b9f" >
			<when expression='#[(dw::core::Binaries::fromBase64((attributes.headers.authorization splitBy(/\s/))[1]) splitBy(":"))[0]=="admin"]'>
				<spring:authorization-filter doc:name="Authorization filter" doc:id="c644b148-ea12-43b7-9dc3-59133cf4d5eb" requiredAuthorities="ROLE_ADMIN" />
				<http:load-static-resource doc:name="Load static resource" doc:id="56d8a348-14b6-4637-9065-85930025425d" resourceBasePath="${mule.home}/apps/${app.name}/index.html" />
			
</when>
			<when expression='#[(dw::core::Binaries::fromBase64((attributes.headers.authorization splitBy(/\s/))[1]) splitBy(":"))[0]=="developer"]'>
				<spring:authorization-filter doc:name="Authorization filter" doc:id="58ab106f-1ed8-418f-939a-ec03ca2f2757" requiredAuthorities="ROLE_DEVELOPER"/>
				<http:load-static-resource doc:name="Load static resource" doc:id="dd7b1fc7-e056-48e4-8c54-c300ff8437f0" resourceBasePath="${mule.home}/apps/${app.name}/index_developer.html"/>
			</when>
			<when expression='#[(dw::core::Binaries::fromBase64((attributes.headers.authorization splitBy(/\s/))[1]) splitBy(":"))[0]=="support"]'>
				<spring:authorization-filter doc:name="Authorization filter" doc:id="4d7f3397-9a3a-4a2f-9ce4-9ae36c871a63" requiredAuthorities="ROLE_SUPPORT" />
				<http:load-static-resource doc:name="Load static resource" doc:id="c1a5919d-6f41-4a1c-8095-75549371795a" resourceBasePath="${mule.home}/apps/${app.name}/index_support.html" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="dcb15aa0-ce43-4496-af3e-1b7293daf9d8" message="default block"/>

			</otherwise>
		
</choice>
	</flow>
</mule>
